h1{
  color:blue;
  background-color: pink;
  text-align:center;
}
table{
  width:100%;
  border:1px solid black;
  border-spacing: 10px;
  border-collapse:collapse;
  text-align:center;
  font-weight:bold;
  font-size:30px;

}
table,th,td{
  border:1px solid black;
}
td{
  height:80px;
}
th{
  height:50px;
  background-color: #ccc;
}
.myclass{
  background-color:green;
  color:red;
}
tr:hover{
  background-color:#ccc;
}
.border{

  color:white;
  background-color: pink;
  border: 2px dotted red;
}
